<head><meta charset="utf-8"><title>LEDE-K3发布页面</title></head>
<img alt="持续集成状态" src="https://git.mc.app99.cn/zh/lede-k3/badges/ci/pipeline.svg"><br>
<hr>
<div id="SOHUCS" sid="lede-k3" ></div> 
<script type="text/javascript"> 
(function(){ 
var appid = 'cyth9qAMe'; 
var conf = 'prod_525bb6cee32f83978e2bc0233b92b41a'; 
var width = window.innerWidth || document.documentElement.clientWidth; 
if (width < 960) { 
window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("https://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); </script>
</script>
<hr><div>项目地址</div><br>
编译源码 <a href="https://github.com/tossp/lede-k3/commits/ci">https://github.com/tossp/lede-k3/commits/ci</a><br>
引用源码 <a href="https://github.com/coolsnowwolf/lede">https://github.com/coolsnowwolf/lede</a><br>
关键变更 <a href="https://github.com/tossp/lede-k3/commit/903513a315c9d202bc6c809ea0fcbc4b51df3dce#diff-0b8f8fc77bb0569fab1d87be78ee78ec">#diff-0b8f8fc77bb0569fab1d87be78ee78ec</a>
<hr><div>快捷地址</div><br>
