<head><meta charset="utf-8"><title>💯LEDE-K3发布页面👍</title><style>html{font-size: 12px;}div{font-size: 14px;}a:link {color: #376d06;text-decoration:underline;}a:hover{color: #03F;text-decoration:none;margin-top:1px;margin-left:1px;}a:active{color:#333;text-decoration:none;margin-top:1px;margin-left:1px;}a:visited {color:#376d06;text-decoration: overline;}</style></head>
<a href="https://github.com/tossp/lede-k3/commits/ci"><img alt="持续集成状态" src="https://git.mc.app99.cn/zh/lede-k3/badges/ci/pipeline.svg"></a><br>
<script type="text/javascript"> 
(function(){ 
if (localStorage && localStorage.last && Math && (Math.floor((new Date()).getTime()/1000)-localStorage.last)>60*30){localStorage.last=Math.floor((new Date()).getTime()/1000);location.reload(true);}localStorage.last=Math.floor((new Date()).getTime()/1000);
var appid = 'cyth9qAMe'; var conf = 'prod_525bb6cee32f83978e2bc0233b92b41a'; var width = window.innerWidth || document.documentElement.clientWidth; 
if (width < 960) {window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("https://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); </script>
</script>
<hr><div>广告</div><br>
发布服务器每个月只有20GB😱的流量，通过 <a href="https://portal.qiniu.com/signup?code=3liz7u2di1h02" target="_blank"> 传送门🚪 </a>注册并实名认证后可以为服务器每个月添加5G的流量😀
<hr><div>项目地址</div><br>
📜编译源码 <a href="https://github.com/tossp/lede-k3/commits/ci"  target="_blank">https://github.com/tossp/lede-k3/commits/ci</a><br>
📦引用源码 <a href="https://github.com/coolsnowwolf/lede"  target="_blank">https://github.com/coolsnowwolf/lede</a><br>
📝关键变更 <a href="https://github.com/tossp/lede-k3/commit/903513a315c9d202bc6c809ea0fcbc4b51df3dce#diff-0b8f8fc77bb0569fab1d87be78ee78ec"  target="_blank">#diff-0b8f8fc77bb0569fab1d87be78ee78ec</a>
<hr><div>🚩快捷地址</div><br>